# set to production if in production
NODE_ENV=development

# well, your mongodb instance
DB_CONNECTION_STRING=

# hash cost for hashing passwords
# higher number of rounds, higher security, 
# but also higher time required to hash
# so choose a number having speed and security both in mind
# as of 2022, 12 number of rounds is pretty reasonable
HASH_COST=12

# port to start the application on
PORT=5000

# don't share your jwt secret with anyone
JWT_SECRET=place-your-desired-secret
# jwt expires in how many days
JWT_EXPIRES_IN=90d
# the cookie of jwt expires in how many days?
JWT_COOKIE_EXPIRES_IN=90

RESET_TOKEN_EXPIRES_IN=60

# Email credintials to send email to users
# SMTP Server credentials
#EMAIL_SERVER=
#EMAIL_PORT=
#EMAIL_USERNAME=
#EMAIL_PASSWORD=

# at the moment only gmail is available
# gmail username, password, sender address and name
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_ADDRESS=
EMAIL_SENDER=

# rate limit for entire app
GENERAL_RATE_LIMITER_TIME=30 # minutes
GENERAL_RATE_LIMITER_MAX=10000 # number of request

# rate limit for auth explicitly
AUTH_RATE_LIMITER_TIME=60 # minutes
AUTH_RATE_LIMITER_MAX=30 # number of request

# max file upload sized, all in MB
MAX_IMAGE_SIZE_UPLOAD=10
MAX_VIDEO_SIZE_UPLOAD=2048
MAX_FILE_SIZE_UPLOAD=20
MAX_CAPTION_SIZE_UPLOAD=1

# reddis connection string
REDIS_CON_STRING=
# use an index which is not used by other apps, to minimize collision
REDIS_DB_INDEX=10

# google oauth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=

# github oauth
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# path to binaries
FFMPEG_PATH=/snap/bin/ffmpeg
FFPROBE_PATH=/snap/bin/ffprobe
FFPLAY_PATH=/snap/bin/ffplay

# niceness determines priority of getting cpu time for proccessing
# use a higher niceness than moderate for lower priority
# cause other processes on your server probably are in higher priority
# than a video processing process which can wait for a few seconds
CAPTION_NICENESS=18
VIDEO_NICENESS=19

# a log files directory to put logs into
# don't forget to give permission of that directory
# to the user whose running this node process
LOG_FILES_DIR_PATH=/path/to/video-sharing-platform/logs
