NODE_ENV=development
DB_CONNECTION_STRING=
HASH_COST=10
PORT=5000

JWT_SECRET=place-your-desired-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

RESET_TOKEN_EXPIRES_IN=60

#EMAIL_SERVER=
#EMAIL_PORT=
#EMAIL_USERNAME=
#EMAIL_PASSWORD=
EMAIL_USERNAME= 
EMAIL_PASSWORD=
EMAIL_ADDRESS=
EMAIL_SENDER=

# rate limit for entire app
GENERAL_RATE_LIMITER_TIME=30
GENERAL_RATE_LIMITER_MAX=10000

# rate limit for auth
AUTH_RATE_LIMITER_TIME=60
AUTH_RATE_LIMITER_MAX=30

# all in MB
MAX_IMAGE_SIZE_UPLOAD=10
MAX_VIDEO_SIZE_UPLOAD=2048
MAX_FILE_SIZE_UPLOAD=20
MAX_CAPTION_SIZE_UPLOAD=1

REDIS_CON_STRING=
REDIS_DB_INDEX=10

# google oauth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=

# github oauth
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# path to binaries
FFMPEG_PATH=
FFPROBE_PATH=
FFPLAY_PATH=

CAPTION_NICENESS=18
VIDEO_NICENESS=19

LOG_FILES_DIR_PATH=
